body {
  width: 90%;
  margin: 0 auto;
  margin-top: 3rem;
  background-color: #747171;
}
label {
  color: #fff;
}

#text {
  width: 95%;
  height: 50vh;
  border: 2px solid black;
  font-size: 1.2rem;
  line-height: 23px;
  font-family: sans-serif;
  border-radius: 10px;
  color: #615f5f;
  padding: 1.5rem;
  background-color: #f3f2f2;
}

.allbtns {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 90vw;
}

#play-button,
#pause-button,
#stop-button,
input {
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  color: white;
  background-color: #5eb8e2;
  border: 0.5px solid #5eb8e2;
  transition: all 0.2s linear;
}

input {
  width: 80px;
  border: 1px solid black;
  background-color: white;
  color: black;
}

#stop-button:hover {
  background-color: red;
  color: black;
  transform: scale(1);
}
#play-button:hover {
  background-color: #73ff00;
  color: black;
  transform: scale(1);
}
#pause-button:hover {
  background-color: #fffb00;
  color: black;
  transform: scale(1);
}
